<h2>Create a new user</h2>

<form method="post" action="/users">
	<div>
		<label for="user_username">Username</label>
		<input type="text" name="new_user[username]" id="user_username">
	</div>
	<div>
		<label for="user_password">Password</label>
		<input type="password" name="new_user[password]" id="user_password">
	</div><br>
	<div>
		<input type="submit" value="create new user">
	</div>	
</form>